//  FOOTER 
footer
  .footer-container.container.flex-space
    .music-info.flex-space
      .music-info-image.display-none
        img(src="src/song_pic1.jpg")
      .music-info-name
        p.music-info-song-name
          b Photograph
        p.music-info-sub Ed Sheeran
      .music-info-icon.display-none-footer
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
        a(href="#")
          i.fa.fa-ban(aria-hidden="true")
    .music-player.flex-space
      .music-player-controls.flex-space
        a.display-none-520(href)
          i.fa.fa-random(aria-hidden="true")
        a(href)
          i.fa.fa-step-backward(aria-hidden="true")
        a.play-pause(href)
          i.fa.fa-pause-circle-o(aria-hidden="true")
        a(href)
          i.fa.fa-step-forward(aria-hidden="true")
        a.display-none-520(href)
          i.fa.fa-repeat(aria-hidden="true")
      .music-bar.flex-space
        p 1:39
        .song-bar
          input(type="range", step="1")
        p 4:44
    .display-none-365.music-options.flex-space
      a.display-none-footer(href)
        i.fa.fa-bars(aria-hidden="true")
      a.display-none-footer(href)
        i.fa.fa-desktop(aria-hidden="true")
      i.fa.fa-volume-up(aria-hidden="true")
      .volume-bar
        input(type="range", step="1")
      a.display-none-footer(href)
        i.fa.fa-arrows-alt(aria-hidden="true")