header
  .nav-col.left-col
    a(href="/")
      .header-logo-div
        i.fa.fa-headphones#header-logo(aria-hidden="true")
    a(href="/")
      .header-title
        p SPOTIFY
        p
          b Studio
    ul
      li
        a(href="#") Favourites
  .nav-col.right-col
    .search-box
      i.fa.fa-search(aria-hidden="true")
      input(type="text", placeholder="Search")
      a(href="#")
        i.fa.fa-microphone(aria-hidden="true")
    a(href="#")
      i#notif.fa.fa-bell-o(aria-hidden="true")
    .user-menu
      img.user-img(src=user.avatar  alt="User Profile")
      .dropdown-menu.hidden
        if(!user)
          a(href="/auth/login") Login
          a(href="/auth/sign-up") Sign Up 
        else 
          a(href="/user/profile") Profile
          a(href="/auth/logout") Logout  