title SPOTIFY
link(rel="stylesheet", type="text/css", href="/css/style.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
block style 
link(rel="shortcut icon", type="image/png", href="src/favicon.png")
link(href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css", rel="stylesheet")
meta(name="viewport", content="width=device-width,initial-scale=1")

body 
    #loading
     .spinner
     p.loading-text Loading...

    include ../partials/header.pug
    block main
    include ../partials/footer.pug

script(src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js")

script(type="module" src="/js/script.js")

script(type="module" src="/js/queue.js")
//- script(type="module" src="/js/dropdown.js")
//- script(type="module" src="/js/auth.js")
//- script(type="module" src="/js/artist.js")
//- script(type="module" src="/js/search.js")
//- script(type="module" src="/js/topic.js")