.modal.fade.deleteTopicModal(id="deleteTopicModal", tabindex="-1", role="dialog", aria-labelledby="deleteTopicModal", aria-hidden="true")
  .modal-dialog.modal-confirm 
    .modal-content
      .modal-header
        h5.modal-title#exampleModalLabel Are you sure?
      .modal-body
        p Do you really want to delete this record?
      .modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") No
        button.btn.btn-primary(type="button" button-confirm) Yes